Repository rajdipk/Ledgerpro-Extended, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, bug, documentation, enhancement, ui, database, providers, tests

.github/labeler.yml:

feature:
  - 'feat/*'
  - 'feature/*'

bug:
  - 'fix/*'
  - 'bugfix/*'

documentation:
  - 'docs/*'
  - '**/*.md'

enhancement:
  - 'enhancement/*'
  - 'improve/*'

ui:
  - 'lib/screens/*'
  - 'lib/widgets/*'

database:
  - 'lib/database/*'
  - 'lib/models/*'

providers:
  - 'lib/providers/*'

tests:
  - 'test/*'

fix: update footer styles and improve link colors
  docs/index.html
Labels: documentation

fix: downgrade mongoose and set node version to 18.x
  backend/package.json
Labels: none

fix: specify Node.js 18.x version in render.yaml
  render.yaml
Labels: none

fix: update Node.js version and MongoDB connection settings for deployment
  backend/.node-version
  backend/.nvmrc
  backend/src/index.js
Labels: none

fix: modifications in payment services and Website pricing
  backend/package-lock.json
  backend/package.json
  backend/render.yaml
  backend/src/services/razorpayService.js
  docs/index.html
Labels: documentation

fix: resolving node version compatibility
  backend/.nvmrc
  backend/node_modules/.package-lock.json
  backend/package-lock.json
  backend/package.json
Labels: none

2. fix: resolving node and mongose version compatibility issues
  backend/node_modules/.package-lock.json
  backend/package-lock.json
  backend/package.json
Labels: none

fix: modified the terms and conditions for payments addedd contacts in terms and conditions
  docs/index.html
  docs/policies/terms-and-conditions.html
Labels: documentation

added telephone for better contact support
  docs/policies/terms-and-conditions.html
Labels: none

introduction of admin panel and pricing modifier for website
  backend/.env
  backend/src/app.js
  backend/src/controllers/adminController.js
  backend/src/middleware/auth.js
  backend/src/routes/adminRoutes.js
  backend/src/services/razorpayService.js
  docs/admin.html
  docs/index.html
  pubspec.lock
  pubspec.yaml
Labels: documentation

refactor: few major modifications
  backend/src/app.js
  backend/src/controllers/adminController.js
  backend/src/middleware/auth.js
  docs/admin.html
Labels: documentation

refactor 2: few more modifiactions regarding admin.html
  backend/src/app.js
  backend/src/middleware/cors.js
  docs/admin.html
Labels: documentation

refactor 3: modifications regarding adminController
  backend/src/app.js
  backend/src/controllers/adminController.js
  backend/src/middleware/auth.js
  backend/src/middleware/cors.js
  backend/src/models/customer.js
Labels: none

refactor 4: modifications regarding adminController
  backend/src/models/customer.js
Labels: none

refactor: Updated code related to index.html refreshing.
  docs/index.html
Labels: documentation

refactor 5: modifications regarding adminController
  backend/src/controllers/adminController.js
  backend/src/routes/adminRoutes.js
  backend/src/services/razorpayService.js
  docs/admin.html
Labels: documentation

refactor 6: modifications regarding adminController
  backend/src/app.js
  backend/src/middleware/cors.js
  docs/admin.html
Labels: documentation

Feat: Actual ready to go application. proper license service, proper billing and inventory management.
  .vscode/settings.json
  android/app/build.gradle
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.properties
  android/settings.gradle
  docs/sample_data.json
  lib/database/database_helper.dart
  lib/models/license_model.dart
  lib/providers/bill_provider.dart
  lib/providers/license_provider.dart
  lib/screens/account/account_details_screen.dart
  lib/screens/billing/billing_screen.dart
  lib/screens/bills/bill_details_screen.dart
  lib/screens/bills/bills_screen.dart
  lib/screens/customer_operations_screen.dart
  lib/screens/license/license_activation_screen.dart
  lib/screens/settings.dart
  lib/services/google_drive_service.dart
  lib/services/license_service.dart
  server/models/Customer.js
  server/routes/customerRoutes.js
Labels: documentation, ui, database, providers

fix: modifications regarding admin controller
  android/gradle/wrapper/gradle-wrapper.properties
  backend/src/app.js
  backend/src/controllers/adminController.js
  backend/src/middleware/adminAuth.js
  backend/src/routes/adminRoutes.js
  docs/admin.html
Labels: documentation

refacto 2: modification in admin.html and app.js
  backend/src/app.js
  backend/src/routes/adminRoutes.js
  docs/admin.html
Labels: documentation

refactor 3: refacto 2: modification in admin.html and app.js
  backend/src/app.js
  backend/src/routes/adminRoutes.js
  docs/admin.html
Labels: documentation

refactor 4: modification in admin.html adminRoutes and app.js
  backend/src/app.js
  backend/src/routes/adminRoutes.js
  docs/admin.html
Labels: documentation

modify: updated license activation handling.
  android/app/build.gradle
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  backend/src/controllers/adminController.js
  backend/src/routes/adminRoutes.js
  lib/config/api_config.dart
  lib/screens/license/license_activation_screen.dart
  lib/services/api_service.dart
  lib/services/license_service.dart
Labels: none

refactor: 1 license activation modification
  backend/src/app.js
  backend/src/controllers/adminController.js
  backend/src/routes/adminRoutes.js
  lib/services/api_service.dart
Labels: none

refactor: 2 license key aactivation modification
  backend/src/app.js
  backend/src/controllers/adminController.js
  lib/services/api_service.dart
  lib/services/license_service.dart
Labels: none

refactor: 3 license key aactivation modification
  lib/services/license_service.dart
Labels: none

refactor: 4 license key activation modification
  backend/src/app.js
  backend/src/index.js
  backend/src/routes/adminRoutes.js
  lib/services/api_service.dart
Labels: none

fix: Node version mismatch fix.
  backend/node_modules/.package-lock.json
  backend/node_modules/bson/package.json
  backend/node_modules/bson/src/parser/calculate_size.ts
  backend/package-lock.json
  backend/package.json
  backend/src/index.js
Labels: none

fix: deploy issue. Makeover index.js
  backend/node_modules/.package-lock.json
  backend/node_modules/es-object-atoms/CHANGELOG.md
  backend/node_modules/es-object-atoms/README.md
  backend/node_modules/es-object-atoms/RequireObjectCoercible.d.ts
  backend/node_modules/es-object-atoms/ToObject.d.ts
  backend/node_modules/es-object-atoms/package.json
  backend/node_modules/es-object-atoms/test/index.js
  backend/node_modules/get-intrinsic/CHANGELOG.md
  backend/node_modules/get-intrinsic/index.js
  backend/node_modules/get-intrinsic/package.json
  backend/node_modules/mongodb-connection-string-url/package.json
  backend/node_modules/nodemailer/.ncurc.js
  backend/node_modules/nodemailer/CHANGELOG.md
  backend/node_modules/nodemailer/lib/smtp-connection/index.js
  backend/node_modules/nodemailer/lib/well-known/services.json
  backend/node_modules/nodemailer/package.json
  backend/node_modules/tr46/README.md
  backend/node_modules/tr46/index.js
  backend/node_modules/tr46/lib/mappingTable.json
  backend/node_modules/tr46/lib/regexes.js
  backend/node_modules/tr46/package.json
  backend/node_modules/whatwg-url/README.md
  backend/node_modules/whatwg-url/lib/URL-impl.js
  backend/node_modules/whatwg-url/lib/URL.js
  backend/node_modules/whatwg-url/lib/url-state-machine.js
  backend/node_modules/whatwg-url/package.json
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/index.js
  backend/src/utils/serviceCheck.js
  render.yaml
Labels: documentation

fix: deploy issue. package.json
  backend/package-lock.json
  backend/package.json
Labels: none

fix: local node start issue
  backend/package-lock.json
  backend/package.json
Labels: none

refactor: lincesekey handling
  backend/src/app.js
  backend/src/controllers/customerController.js
  backend/src/routes/admin.js
  backend/src/routes/customerRoutes.js
  backend/src/services/websocketService.js
  docs/index.html
  lib/services/license_service.dart
Labels: documentation

refactor: modifications for admin.html
  backend/src/services/websocketService.js
  docs/admin.html
Labels: documentation

refactor: modifications for licensekey handling and admin.html.
  backend/src/app.js
  backend/src/controllers/customerController.js
  lib/services/api_service.dart
  lib/services/license_service.dart
Labels: none

refactor: license_service handling improvement
  backend/src/routes/adminRoutes.js
  backend/src/routes/customerRoutes.js
  lib/services/api_service.dart
  lib/services/license_service.dart
Labels: none

refactor 2: license_service handling improvement
  backend/src/app.js
  backend/src/routes/customerRoutes.js
  lib/screens/license/license_activation_screen.dart
  lib/services/api_service.dart
Labels: none

refactor 3: license_service handling improvement
  backend/src/controllers/customerController.js
Labels: none

refactor 4: license_service handling improvement
  backend/src/app.js
  backend/src/controllers/customerController.js
  backend/src/routes/customerRoutes.js
  lib/providers/license_provider.dart
  lib/services/api_service.dart
  lib/services/license_service.dart
Labels: providers

fix: licensekey deactivation and admin.html
  backend/src/app.js
  backend/src/controllers/customerController.js
  backend/src/routes/adminRoutes.js
  lib/models/license_model.dart
  lib/providers/license_provider.dart
  lib/screens/license/license_activation_screen.dart
  lib/screens/license/upgrade_screen.dart
  lib/services/license_service.dart
  pubspec.lock
  pubspec.yaml
Labels: database, providers

refactor: license activation and upgrade admin.html
  backend/src/app.js
  backend/src/services/websocketService.js
Labels: none
