Repository rajdipk/Ledgerpro-Extended, changes with the labels that .github/labeler.yml gives for each.
All labels: feature, bug, documentation, enhancement, ui, database, providers, tests

.github/labeler.yml:

feature:
  - 'feat/*'
  - 'feature/*'

bug:
  - 'fix/*'
  - 'bugfix/*'

documentation:
  - 'docs/*'
  - '**/*.md'

enhancement:
  - 'enhancement/*'
  - 'improve/*'

ui:
  - 'lib/screens/*'
  - 'lib/widgets/*'

database:
  - 'lib/database/*'
  - 'lib/models/*'

providers:
  - 'lib/providers/*'

tests:
  - 'test/*'

Update index.html with fixed Android icon and download links
  docs/index.html
Labels: documentation

Update index.html with fixed Android icon and download links
  docs/index.html
Labels: documentation

Update download links to v1.0.2 release
  docs/index.html
Labels: documentation

Update download links to v1.0.2 release
  docs/index.html
Labels: documentation

Add inventory coming soon screen and fix authentication focus issues
  .metadata
  lib/screens/authentication_screen.dart
  lib/screens/home_screen.dart
  lib/screens/navigation_panel.dart
  windows/runner/resources/app_icon.ico
  windows/runner/utils.cpp
  windows_installer.iss
Labels: ui

Add inventory coming soon screen and fix authentication focus issues
  .metadata
  lib/screens/authentication_screen.dart
  lib/screens/home_screen.dart
  lib/screens/navigation_panel.dart
  windows/runner/resources/app_icon.ico
  windows/runner/utils.cpp
  windows_installer.iss
Labels: ui

feat: Windows Application Improvements
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  lib/database/database_helper.dart
  lib/main.dart
  pubspec.lock
  pubspec.yaml
  windows/runner/Runner.rc
  windows/runner/resources/app_icon.ico
  windows_installer.iss
Labels: database

feat: Windows Application Improvements
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  lib/database/database_helper.dart
  lib/main.dart
  pubspec.lock
  pubspec.yaml
  windows/runner/Runner.rc
  windows/runner/resources/app_icon.ico
  windows_installer.iss
Labels: database

feat(inventory): Enhanced purchase order management with receiving functionality
  assets/sounds/beep.mp3
  lib/database/database_helper.dart
  lib/database/supplier_operations.dart
  lib/dialogs/add_supplier_dialog.dart
  lib/main.dart
  lib/models/inventory_batch_model.dart
  lib/models/inventory_item_model.dart
  lib/models/purchase_order_model.dart
  lib/models/supplier_model.dart
  lib/models/transaction_model.dart
  lib/providers/inventory_provider.dart
  lib/screens/home_screen.dart
  lib/screens/inventory/add_item_dialog.dart
  lib/screens/inventory/add_movement_dialog.dart
  lib/screens/inventory/add_purchase_order_dialog.dart
  lib/screens/inventory/inventory_screen.dart
  lib/screens/inventory/item_details_dialog.dart
  lib/screens/inventory/purchase_order_details_dialog.dart
  lib/screens/inventory/stock_movements_screen.dart
  lib/screens/supplier_operations_screen.dart
  lib/services/barcode_service.dart
  lib/services/sound_service.dart
  lib/utils/sku_generator.dart
  lib/widgets/barcode_scanner_dialog.dart
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugins.cmake
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
  pubspec.yaml
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Labels: ui, database, providers

feat(inventory): Enhanced purchase order management with receiving functionality
  assets/sounds/beep.mp3
  lib/database/database_helper.dart
  lib/database/supplier_operations.dart
  lib/dialogs/add_supplier_dialog.dart
  lib/main.dart
  lib/models/inventory_batch_model.dart
  lib/models/inventory_item_model.dart
  lib/models/purchase_order_model.dart
  lib/models/supplier_model.dart
  lib/models/transaction_model.dart
  lib/providers/inventory_provider.dart
  lib/screens/home_screen.dart
  lib/screens/inventory/add_item_dialog.dart
  lib/screens/inventory/add_movement_dialog.dart
  lib/screens/inventory/add_purchase_order_dialog.dart
  lib/screens/inventory/inventory_screen.dart
  lib/screens/inventory/item_details_dialog.dart
  lib/screens/inventory/purchase_order_details_dialog.dart
  lib/screens/inventory/stock_movements_screen.dart
  lib/screens/supplier_operations_screen.dart
  lib/services/barcode_service.dart
  lib/services/sound_service.dart
  lib/utils/sku_generator.dart
  lib/widgets/barcode_scanner_dialog.dart
  linux/flutter/generated_plugin_registrant.cc
  linux/flutter/generated_plugins.cmake
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
  pubspec.yaml
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugins.cmake
Labels: ui, database, providers

modified purchase_order_details_dialog for deprication
  lib/screens/inventory/purchase_order_details_dialog.dart
Labels: none

modified purchase_order_details_dialog for deprication
  lib/screens/inventory/purchase_order_details_dialog.dart
Labels: none

feat(docs): Enhanced website with animations, dark mode, and improved UI
  docs/index.html
Labels: documentation

feat(docs): Enhanced website with animations, dark mode, and improved UI
  docs/index.html
Labels: documentation

further modification for the inventory management system.
  INSTRUCTIONS.md
  lib/database/database_helper.dart
  lib/dialogs/add_supplier_dialog.dart
  lib/screens/authentication_screen.dart
  lib/screens/inventory/add_purchase_order_dialog.dart
  lib/screens/inventory/inventory_screen.dart
  lib/screens/inventory/item_details_dialog.dart
  lib/screens/inventory/purchase_order_details_dialog.dart
  lib/screens/inventory/stock_movements_screen.dart
  lib/services/barcode_service.dart
  lib/widgets/barcode_scanner_dialog.dart
  pubspec.lock
Labels: documentation, ui, database

further modification for the inventory management system.
  INSTRUCTIONS.md
  lib/database/database_helper.dart
  lib/dialogs/add_supplier_dialog.dart
  lib/screens/authentication_screen.dart
  lib/screens/inventory/add_purchase_order_dialog.dart
  lib/screens/inventory/inventory_screen.dart
  lib/screens/inventory/item_details_dialog.dart
  lib/screens/inventory/purchase_order_details_dialog.dart
  lib/screens/inventory/stock_movements_screen.dart
  lib/services/barcode_service.dart
  lib/widgets/barcode_scanner_dialog.dart
  pubspec.lock
Labels: documentation, ui, database

changes in instruction.md file for status info till this stage
  INSTRUCTIONS.md
Labels: documentation

changes in instruction.md file for status info till this stage
  INSTRUCTIONS.md
Labels: documentation

v2.0.0: Major improvements to inventory management
  .vscode/settings.json
  README.md
  lib/dialogs/add_customer_dialog.dart
  lib/dialogs/add_supplier_dialog.dart
  lib/screens/authentication_screen.dart
  lib/screens/inventory/add_item_dialog.dart
  lib/screens/inventory/add_purchase_order_dialog.dart
  lib/screens/inventory/inventory_screen.dart
  lib/screens/inventory/purchase_order_details_dialog.dart
  lib/screens/transaction_details_screen.dart
  lib/services/barcode_service.dart
  lib/widgets/barcode_scanner_dialog.dart
  pubspec.yaml
Labels: documentation, ui

v2.0.0: Major improvements to inventory management
  .vscode/settings.json
  README.md
  lib/dialogs/add_customer_dialog.dart
  lib/dialogs/add_supplier_dialog.dart
  lib/screens/authentication_screen.dart
  lib/screens/inventory/add_item_dialog.dart
  lib/screens/inventory/add_purchase_order_dialog.dart
  lib/screens/inventory/inventory_screen.dart
  lib/screens/inventory/purchase_order_details_dialog.dart
  lib/screens/transaction_details_screen.dart
  lib/services/barcode_service.dart
  lib/widgets/barcode_scanner_dialog.dart
  pubspec.yaml
Labels: documentation, ui

fix: Improve business dialog and auto-selection
  lib/database/database_helper.dart
  lib/dialogs/add_business_dialog.dart
  lib/models/business_model.dart
  lib/providers/business_provider.dart
  lib/screens/home_screen_design.dart
  lib/screens/inventory_coming_soon_screen.dart
  lib/screens/navigation_panel.dart
Labels: ui, database, providers

fix: Improve business dialog and auto-selection
  lib/database/database_helper.dart
  lib/dialogs/add_business_dialog.dart
  lib/models/business_model.dart
  lib/providers/business_provider.dart
  lib/screens/home_screen_design.dart
  lib/screens/inventory_coming_soon_screen.dart
  lib/screens/navigation_panel.dart
Labels: ui, database, providers

unnecessary business provider file deletion
  lib/database/business_provider.dart
Labels: database

unnecessary business provider file deletion
  lib/database/business_provider.dart
Labels: database

feat: Enhanced billing system UI with modern Material 3 design
  lib/database/database_helper.dart
  lib/main.dart
  lib/models/bill_model.dart
  lib/models/customer_model.dart
  lib/providers/bill_provider.dart
  lib/screens/billing/add_bill_item_dialog.dart
  lib/screens/billing/billing_screen.dart
  lib/screens/billing/select_customer_dialog.dart
  lib/screens/home_screen.dart
  lib/screens/navigation_panel.dart
  lib/services/keyboard_shortcuts_service.dart
  lib/services/print_service.dart
  lib/services/sound_service.dart
  lib/widgets/barcode_scanner_dialog.dart
  pubspec.yaml
Labels: ui, database, providers

feat: Enhanced billing system UI with modern Material 3 design
  lib/database/database_helper.dart
  lib/main.dart
  lib/models/bill_model.dart
  lib/models/customer_model.dart
  lib/providers/bill_provider.dart
  lib/screens/billing/add_bill_item_dialog.dart
  lib/screens/billing/billing_screen.dart
  lib/screens/billing/select_customer_dialog.dart
  lib/screens/home_screen.dart
  lib/screens/navigation_panel.dart
  lib/services/keyboard_shortcuts_service.dart
  lib/services/print_service.dart
  lib/services/sound_service.dart
  lib/widgets/barcode_scanner_dialog.dart
  pubspec.yaml
Labels: ui, database, providers

feat(billing): Enhance bill management and UI
  README.md
  analysis_options.yaml
  lib/database/database_helper.dart
  lib/dialogs/add_customer_dialog.dart
  lib/dialogs/customer_details.dart
  lib/main.dart
  lib/models/bill_model.dart
  lib/models/business_model.dart
  lib/models/inventory_item_model.dart
  lib/providers/bill_provider.dart
  lib/providers/business_provider.dart
  lib/providers/inventory_provider.dart
  lib/providers/theme_provider.dart
  lib/screens/billing/add_bill_item_dialog.dart
  lib/screens/billing/billing_screen.dart
  lib/screens/billing/select_customer_dialog.dart
  lib/screens/bills/bill_details_screen.dart
  lib/screens/bills/bills_screen.dart
  lib/screens/home_screen.dart
  lib/screens/inventory/add_item_dialog.dart
  lib/screens/inventory/inventory_screen.dart
  lib/screens/navigation_panel.dart
  lib/screens/settings.dart
  lib/services/pdf_service.dart
  lib/services/print_service.dart
  lib/widgets/barcode_scanner_dialog.dart
  pubspec.lock
Labels: documentation, ui, database, providers

feat(billing): Enhance bill management and UI
  README.md
  analysis_options.yaml
  lib/database/database_helper.dart
  lib/dialogs/add_customer_dialog.dart
  lib/dialogs/customer_details.dart
  lib/main.dart
  lib/models/bill_model.dart
  lib/models/business_model.dart
  lib/models/inventory_item_model.dart
  lib/providers/bill_provider.dart
  lib/providers/business_provider.dart
  lib/providers/inventory_provider.dart
  lib/providers/theme_provider.dart
  lib/screens/billing/add_bill_item_dialog.dart
  lib/screens/billing/billing_screen.dart
  lib/screens/billing/select_customer_dialog.dart
  lib/screens/bills/bill_details_screen.dart
  lib/screens/bills/bills_screen.dart
  lib/screens/home_screen.dart
  lib/screens/inventory/add_item_dialog.dart
  lib/screens/inventory/inventory_screen.dart
  lib/screens/navigation_panel.dart
  lib/screens/settings.dart
  lib/services/pdf_service.dart
  lib/services/print_service.dart
  lib/widgets/barcode_scanner_dialog.dart
  pubspec.lock
Labels: documentation, ui, database, providers

chore: Update dependencies and environment configuration
  backend/.env
  pubspec.lock
Labels: none

chore: Update dependencies and environment configuration
  backend/.env
  pubspec.lock
Labels: none

fix: Resolve merge conflicts in index.html and update content
  docs/index.html
Labels: documentation

fix: Resolve merge conflicts in index.html and update content
  docs/index.html
Labels: documentation

Add release workflow and Android signing setup
  .github/workflows/release.yml
  .gitignore
  CHANGELOG.md
  README.md
  android/gradle.properties
  backend/src/controllers/customerController.js
  backend/src/services/razorpayService.js
  docs/index.html
  scripts/create-release.js
  scripts/setup-android-signing.ps1
Labels: documentation

Add release workflow and Android signing setup
  .github/workflows/release.yml
  .gitignore
  CHANGELOG.md
  README.md
  android/gradle.properties
  backend/src/controllers/customerController.js
  backend/src/services/razorpayService.js
  docs/index.html
  scripts/create-release.js
  scripts/setup-android-signing.ps1
Labels: documentation

Release v1.0.0
  package.json
Labels: none

Release v1.0.0
  package.json
Labels: none

more modifications in the index.html file
  docs/index.html
Labels: documentation

chore: add Git LFS tracking for exe files
  .gitattributes
Labels: none

modified: backend/node_modules/nodemon/bin/windows-kill.exe
  backend/node_modules/nodemon/bin/windows-kill.exe
Labels: none

chore: exclude specific exe files from git tracking
  .gitignore
  backend/node_modules/nodemon/bin/windows-kill.exe
  innosetup.exe
Labels: none
